body {
    font-family: 'Times New Roman', Times, serif;
}

#foto {
    width: 150px;
    height: 200px;
    border-radius: 30px;
}

button {
    font-family: serif;
    font-size: 20px;
    color: #005677;
    background-color: #C4C4C4;
    font-style: italic;
    font-weight: bold;
}

header {
    background-image: url(../img/portada2.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}

h1 {
    text-align: center;
    background-color: #C4C4C4;
    color: #005677;
    font-size: 35px;
}

h2 {
    color: #005677;
    background-color: #C4C4C4;
    font-size: 20px;
}

.negrita {
    font-weight: bold;
}

.cursiva {
    font-style: italic;
}

.inline-block {
    display: inline-block;
}

footer {
    background: #005677;
    text-align: center;
}

#piePag {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
}


i {
    font-size: 20px;
    color: white;
}

p {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}